certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
Cython==0.29
decorator==4.3.0
future==0.17.1
-e git+https://github.com/aaronyaosmith/HG_marker_detection.git@403ac1fae2b9127583d8362a183e97362217dcea#egg=hgmd
idna==2.7
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.1
nbformat==4.4.0
numpy==1.15.3
pandas==0.23.4
plotly==2.7.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.0
scipy==1.1.0
six==1.11.0
traitlets==4.3.2
urllib3==1.24
xlmhg==2.4.9
